<%= link_to "Log In", login_path %><br>
<%= button_to "Create a New User", "/register", method: :get %><br>

<div id="existing_users"> Existing Users:<br>
  <% @users.each do |user| %>
    <p><%= user.email %></p>
  <% end %>
</div>